html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

nav {
    vertical-align: middle;
    text-align: center;
    display: grid; 
    grid-template-areas: "header header header header header header header";
    grid-template-columns: auto auto 1fr auto auto auto auto;
}

nav div {
    padding: 1em;
}

nav img {
    border-radius: 50%;
}

main {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    min-height: 20em;
}

form {
    padding-top: 1em;
}

.search-bar {
    border: 1px solid black;
    border-radius: 30px;
    max-width: 40em;
    margin: auto;
}

.search-bar input {
    width: 40em;
    padding: 1em;
    border-width: 0px;
}

.buttons {
    padding-top: 1em;
}

.buttons button {
    padding: 1em;
    border: none;
    border-radius: 4px;
    margin: 0 1em;
}

footer {
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.15);;

    display: grid;
    grid-template-areas:    "country country country country country country country"
                            "Ads business howWorks carbNeutral privacy terms settings";
    grid-template-columns: auto auto auto 1fr auto auto auto;
}

footer div {
    padding: 1em;
}

footer img {
    max-height: 12px;
}

.country {
    text-align: left;
    grid-column: country;
    border-bottom: 1px solid gray;
}

